<div class="container">
  <script type="text/ng-template" id="customTemplate.html">
    <a>
      <img ng-src="https://image.tmdb.org/t/p/w500{{match.model.poster_path}}" ng-if="match.model.poster_path" width="32">

      <span ng-bind-html="match.model.title | uibTypeaheadHighlight:query"></span>
    </a>
  </script>

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="jumbotron text-center">
    <div class="row">
      <h1>Massive Movie DB Demo</h1>
      <input type="text" ng-model="asyncSelected" placeholder="Search for movies..." typeahead-wait-ms="500" typeahead-template-url="customTemplate.html" uib-typeahead="address as address.title for address in main.getMoviesByValue($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
      <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
      <div ng-show="noResults">
        <i class="glyphicon glyphicon-remove"></i> No Results Found
      </div>
    </div>
  </div>







  <div class="row">
    <h3 >Results ordered by popularity</h3>

    </div>

  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'popularity'"  ng-if="awesomeThing.poster_path">
      <div class="thumbnail">
        <img class="pull-right" ng-src="https://image.tmdb.org/t/p/w500{{awesomeThing.poster_path}}" alt="{{ awesomeThing.title }}">
        <div class="caption">
          <h3>{{ awesomeThing.title }} {{ awesomeThing.release_date? '('+(awesomeThing.release_date | date:'yyyy') + ')': "" }}</h3>
          <p>{{ awesomeThing.overview |limitTo:(180 - (awesomeThing.title.length +8)*2 )}}{{awesomeThing.overview.length - (180 - (awesomeThing.title.length+8) *2 ) >0? '...':''}}</p>
          <p><a ng-href="{{awesomeThing.url}}">{{ awesomeThing.url }}</a></p>
        </div>
      </div>
    </div>
  </div>

</div>
